.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
}
